/* html {
    scroll-behavior: smooth;
} */

body {
    margin: 0;
    background-color: rgba(21, 21, 21, 0.800);
    color: rgb(237, 233, 225);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

#gigantic-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: relative;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    /* border: solid 2em; RECUERDA QUE ESTO ES SOLO UNA GUIA Y SE TIENE QUE BORRAR */
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    color: rgb(237, 233, 225);
}




/* ------------------------------- EVERYTHING ON THE LEFT SIDE CONTAINER IS HERE ------------------------------- */

#left-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    /* position: fixed; */
    max-width: 500px;
    padding: 90px 45px 90px 90px;
    
    /* border-right: dotted 0.1em; RECUERDA QUE ESTO ES SOLO UNA GUIA Y SE TIENE QUE BORRAR */
}

#left-section-upper-container {
    display: flex;
    flex-direction: column;
}

#solar-system-text {
    font-weight: 700;
    font-size: 3.4em;
    line-height: 1;
}

#solar-system-description-container {
    line-height: 2;
}

#solar-system-description {
    margin-top: 2em;
}

#inner-outer-navigator {
    font-weight: 700;
    font-size: 0.75em;
    padding-top: 6em;
    padding-bottom: 28em;
    text-transform: uppercase;
    display: block;
    font-size: 1em;
}

#inner-outer-ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: -1em;
    margin-bottom: -1em;
}

.inner-outer-li {
    margin-top: 1em;
    margin-bottom: 1em;
}

.inner-outer-link {
    /* margin-top: -6em;
    padding-top: 5.5em; */
    width: 100%;
}

a {
    color: rgb(237, 233, 225);
    text-decoration: none;
}

.inner-outer-link:hover {
    /* font-size: 1.1em; */
    letter-spacing: 0.1em;
    transition: all .35s ease-in-out;
}

span {
    display: inline-block;
    height: 1.5em;
}





/* ------------------------------ EVERYTHING ON THE MIDDLE SIDE CONTAINER IS HERE ------------------------------ */

#middle-section-container {
    width: 100vw;
    height: 100vh;
    /* position: fixed; */
    max-width: 500px;
    overflow: scroll;
    scroll-behavior: smooth;


    /* border-right: dotted 0.1em; RECUERDA QUE ESTO ES SOLO UNA GUIA Y SE TIENE QUE BORRAR */
}

#middle-section-planets-workspace {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 90px 45px;
    box-sizing: border-box;

}

#inner-planets-title-container {
    padding-bottom: 1.5em;
    font-size: 1.5em;
}

#inner-planets-clip-board {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#outer-planets-title-container {
    padding-top: 2.5em;
    padding-bottom: 1.5em;
    font-size: 1.5em;
}

#outer-planets-clip-board {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.planet {
    background-color: rgba(21, 21, 21, 0.250);
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    border-radius: 0.35em;
}

.planet:hover {
    opacity: 40%;
    transition: all .35s ease-in-out;
}





/* ------------------------------ EVERYTHING ON THE RIGHT SIDE CONTAINER IS HERE ------------------------------- */

#right-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* position: fixed; */
    max-width: 500px;
    padding: 90px 45px 90px 90px;
    overflow: scroll;
}

img {
    border-radius: 0.25em;
}

#right-lower-section-container {
    display: flex;
    flex-direction: column;
}

#object-name {
    font-size: 2.5em;
    margin-top: 1.5em;
    margin-bottom: 1.0em;
}

#infomration-card-container {
    background-color: rgba(21, 21, 21, 0.150);
    border-radius: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0em;
    display: flex;
    flex-direction: column;
}

#information-card-text {
    /* background-color: seagreen; */
    margin: 1em;
}

#quick-facts-text {
    margin: 0;
    font-size: 1em;
}

#information-card-clipboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0 0 2em 2em;
    background-color: rgba(21, 21, 21, 0.150);
}

.quick-fact {
    background-color: rgba(21, 21, 21, 0.200);
    margin: 0.3em;
    width: 7.2vw;
    height: 11vh;
    text-align: center;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fact-header {
    /* background-color: salmon; */
}

.fact-name {
    font-size: 0.9vw;
    margin: 0.1em;
}

.fact-description {
    margin: 0;
    font-size: 0.8vw;
    opacity: 60%;
}

.fact-description:hover {
    opacity: 100%;
    transition: all .35s ease-in-out;
}

#object-description {
    font-size: 2.5em;
    margin-top: 1.5em;
    margin-bottom: 1.0em;
}

#paragraph-container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    line-height: 2;
    margin-top: 0em;
    margin-bottom: 6.8em;
    font-size: large;
}

p {
    margin-top: 1em;
}