body {
    margin: 0;
    background-color: rgba(21, 21, 21, .96);
    color: rgb(237, 233, 225);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

#gigantic-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: relative;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    color: rgb(237, 233, 225);
}





/* ------------------------------- EVERYTHING ON THE LEFT SIDE CONTAINER IS HERE ------------------------------- */

#left-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    max-width: 500px;
    padding: 12vh 2.812vw 12vh 5.625vw;
    overflow: auto;
}

#left-section-upper-container {
    display: flex;
    flex-direction: column;
}

#solar-system-text, #title-text {
    font-weight: 700;
    font-size: 4vw;
    line-height: 1;
}

#solar-system-description-container, #title-description-container {
    line-height: 2;
}

#solar-system-description, #title-description {
    margin-top: 2em;
}

#inner-outer-navigator, #category-navigator {
    font-weight: 700;
    font-size: 0.75em;
    margin-top: 10em;
    margin-bottom: 12em;
    text-transform: uppercase;
    display: block;
    font-size: 1em;
}

#inner-outer-ul, #category-ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: -1em;
    margin-bottom: -1em;
}

.inner-outer-li, .category-li {
    margin-top: 1em;
    margin-bottom: 1em;
}

.inner-outer-link, .category-link {
    width: 100%;
}

a {
    color: rgb(237, 233, 225);
    text-decoration: none;
}

.inner-outer-link:hover {
    letter-spacing: 0.1em;
    transition: all .35s ease-in-out;
}

span {
    display: inline-block;
    height: 1.5em;
}

#ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -16px;
    margin-right: -16px;
}

li {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

/* ------------------------------ EVERYTHING ON THE MIDDLE SIDE CONTAINER IS HERE ------------------------------ */

#middle-section-container {
    width: 100vw;
    height: 100vh;
    max-width: 500px;
    overflow: scroll;
    scroll-behavior: smooth;
}

#middle-section-planets-workspace, #middle-section-workspace {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 45px 90px 45px;
    box-sizing: border-box;
}

.middle-section-title-container {
    padding-top: 12vh;
    padding-bottom: 0.35em;
    font-size: 2.2vw;
    line-height: 1;
}

.planets-clip-board, .examples-clipboard {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.planet, .example {
    background-color: rgba(21, 21, 21, .50);
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    border-radius: 0.35em;
}

.planet:hover {
    opacity: 40%;
    transition: all .35s ease-in-out;
}





/* ------------------------------ EVERYTHING ON THE RIGHT SIDE CONTAINER IS HERE ------------------------------- */

#right-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    padding: 0 5.625vw 12vh 2.812vw;
    overflow: scroll;
    scroll-behavior: smooth;
}

img {
    border-radius: 0.35em;
    margin-top: -2em;
    margin-bottom: 4em;
    width: 100%;
}

.right-lower-section-container {
    display: flex;
    flex-direction: column;
}

.object-name {
    font-size: 2.8vw;
    margin-bottom: 1.7em; 
    padding-top: 12vh;
    line-height: 1;
}

.infomration-card-container {
    background-color: rgba(21, 21, 21, 0.50);
    border-radius: 0.35em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0em;
    display: flex;
    flex-direction: column;
}

.information-card-text {
    margin: 1em;
}

.quick-facts-text {
    margin: 0;
    font-size: 1em;
}

.information-card-clipboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0 0 0.35em 0.35em;
    background-color: rgba(21, 21, 21, 0.6);
}

.quick-fact {
    background-color: rgba(21, 21, 21, 0.65);
    margin: 0.3em;
    width: 7.2vw;
    height: 17vh;
    text-align: center;
    border-radius: 0.35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fact-name {
    font-size: 0.9vw;
    margin: 0.1em;
}

.fact-description {
    margin: 0;
    font-size: 0.8vw;
    opacity: 60%;
}

.fact-description:hover {
    opacity: 100%;
    transition: all .35s ease-in-out;
}

.object-description {
    font-size: 2.5em;
    margin-top: 1.5em;
    margin-bottom: 1.0em;
}

.paragraph-container {
    line-height: 2;
    margin-top: 0em;
    margin-bottom: 6.8em;
    font-size: large;
}

p {
    margin-top: 1em;
}