{% extends 'base.html' %}

{% block title %} | Home{% endblock %}

{% block content %}
        <div id="gigantic-container">
            <div id="left-section-container">
                <div id="left-section-upper-container">
                    <a href="#title-text">
                        <h1 id="title-text">Title</h1>
                    </a>
                    <div id="title-description-container">
                        <p id="title-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim neque quaerat fuga unde voluptates vero, aspernatur dolor, temporibus quod iusto facere! Obcaecati molestias voluptas vel voluptatum culpa unde officiis necessitatibus!</p>
                    </div>
                    <nav id="category-navigator">
                        <ul id="category-ul">
                            {% for i in range(3) %} <!-- Inside of the range is the number of categories -->
                                <li class="category-li">
                                    <a href="#category-{{i+1}}" class="category-link">
                                        <span>Category {{i+1}}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>

                <div class="bottom-left-container">
                    <ul id="ul">
                        {% if current_user.is_authenticated %}
                            <a href="/create_mission"><li>Add Mission</li></a>
                            <a href="/create_rocket"><li>Add Rocket</li></a>
                            <a href="/create_object"><li>Add Object</li></a>
                            <a href="/logout"><li>Log Out</li></a>
                        {% else %}
                            <!-- Only show these links if the current user is NOT
                            authenticated (logged in)! -->
                            <a href="/login"><li>Log In</li></a>
                            <a href="/signup"><li>Sign Up</li></a>
                        {% endif %}
                    </ul>
                </div>
                
            </div>
            

            <div id="middle-section-container">
                <div id="middle-section-workspace">

                    {% for i in range(3) %}
                    <div class="middle-section-title-container" id="category-{{i+1}}">
                        <h2>Category {{i+1}}</h2>
                    </div>
                        
                        {% for j in range(4) %}     <!--    list = [1, 4, 4] |||||  for j in range(list[i]) |||||  Assume you have a list of every items you need to make for each category -->
                            <div class="example-clipboard">
                                <a class="article-link-selection" href="#category-{{i+1}}-example-{{j+1}}">
                                    <div class="example">
                                        <h3>Example {{j+1}}</h3>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% endfor %}

                </div>
            </div>

            <main id="right-section-container">
                {% for i in range(3) %}
                    {% for j in range(4) %}     <!--    list = [1, 4, 4] |||||  for j in range(list[i]) |||||  Assume you have a list of every items you need to make for each category -->
                        <article class="right-section-container-article" id="category-{{i+1}}-example-{{j+1}}">
                            <div class="object-name">
                                <h4 class="name-text">Category {{i+1}}: Example {{j+1}}</h4>
                            </div>
                            <div class="right-upper-section-container">
                                <img src="" alt="Category 1: Example">
                            </div>
                            <div class="right-lower-section-container">
                                <div class="information-card-container">
                                    <div class="information-card-text">
                                        <h6 class="quick-facts-text">Quick Facts</h6>
                                    </div>
                                    <div class="information-card-clipboard">
                                        {% for i in range(16) %}
                                            <div class="quick-fact">
                                                <header class="fact-header">
                                                    <h6 class="fact-name">Lorem, ipsum.</h6>
                                                </header>
                                                <div class="fact-description-container">
                                                    <p class="fact-description">Lorem.</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="object-description">
                                        <h5 class="object-description-text">Description</h5>
                                    </div>
                                    <div class="paragraph-container">
                                        <p class="paragraph-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur rerum omnis alias officiis pariatur ipsam!</p>
                                        <p class="paragraph-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus dolor laborum praesentium voluptatum, corrupti facere asperiores quas!</p>
                                        <p class="paragraph-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, natus?</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                {% endfor %}
            </main>
        </div>
{% endblock %}