{% extends 'base.html' %}

{% block title%} | Sign Up{% endblock %}

{% block content %}
<div class="container p-5">
    <p class="fs-1">Sign Up</p>
</div>
<div class="container p-5 ">
    <div class="row p-5">
        <div class="col offset-4">
            <form class="p-4" action="/signup" method="POST">
                {{ form.csrf_token }}
                <div class="mb-3">
                    <div class="container">{{ form.username.label }}</div>
                    <div class="container">{{ form.username }}</div>
                    <ul>
                        {% for error in form.username.errors %}
                        <li class="error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="mb-3">
                    <div class="container">{{ form.password.label }}</div>
                    <div class="container">{{ form.password }}</div>
                    <ul>
                        {% for error in form.password.errors %}
                            <li class="error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="container">{{ form.submit }}</div>
            </form>
        </div>
    </div>
</div>
  {% endblock %}